.admin-image-popup {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
    width: 35%;
}

.overlay-custom-class {
    background-color: black;
    color: black;
}

.admin-image-popup-details textarea {
    height: 50%;
}

.close-button {
    position: absolute;
    top: 4px;
    right: 5px;
    cursor: pointer;
}

.admin-image-popup-black-overlay {
    z-index: 11;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 60%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.admin-image-popup-container {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    position: relative;
    z-index: 12;
    height: 70vh;
    width: 70vw;
}

.whatsapp-integration {
    display: flex;
    cursor: pointer;
}

.admin-image-popup-image {
    width: 55%;
    border-radius: 1rem 0 0 1rem;
}

.admin-image-popup-details {
    padding: 1rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-image-popup-details-title {
    font-size: 2rem;
    font-weight: 600;
}

.admin-image-popup-details-description {
    font-size: 1rem;
    margin: 2rem 0;
}

@media (max-width:600px) {

    .admin-image-popup-container {
        flex-direction: column;
        height: 80vh;
        width: 80vw;
    }

    .admin-image-popup-image {
        width: 100%;
        height: 45%;
        border-radius: 1rem 1rem 0 0;
    }

    .admin-image-popup-details {
        width: 100%;
    }

    .admin-image-popup-details-title {
        font-size: 1rem;
    }

    .admin-image-popup-details-description {
        margin: 1rem 0;
    }

    .popup-buttons {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .spacer {
        width: 0;
    }
}