.gallery-col {
    margin: 0 2.5vw;
    width: 22vw;
}

.gallery-container {
    display: flex;
}

.gallery-images {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .gallery-container {
        flex-direction: column;
    }

    .gallery-col {
        width: 80vw;
    }
}