.gallery-header {
    display: flex;
    width: 100vw;
}

.gallery-header-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/gallery-bg.jpg');
}

.gallery-header-text {
    width: 60vw;
    color: white;
    font-size: 2rem;
}

@media (max-width: 600px) {
    .gallery-header-text {
        font-size: 0.75rem;
        width: 80vw;
    }
    .gallery-header-bg{
        height: 25vh;
    }
}