.Footer {
  background: url("../public/assets/mountains.png") bottom/100vh no-repeat fixed,
  transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.footer-bar {
  background: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for transparency */
  bottom: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.strinja-name {
  font-size: 3em;
  font-style: monospace;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 40px;
  width: 25vw;
}

.social-icons {
  display: flex;
  align-items: center;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
}

.footer-bar button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 10px; /* Adjust spacing between buttons */
}

.social-icons a {
  margin: 20px;
  color: #fff;
  text-decoration: none;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.social-icons a:hover {
  color: rgb(50, 50, 50);
}

.cpyRight {
  bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}

.footer-bar button:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {

  .Footer {
    background-size: 50vh;
  }

  .footer-bar{
    padding: 10px;
  }

  .strinja-name {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .description {
    width: 50vw;
    margin-left: 10px;
  }

  .description p {
    font-size: 0.75rem;
  }

  .icon {
    font-size: 1.25rem;
  }

  .social-icons {
    align-items: normal;
  }

  .social-icons a {
    margin: 0;
    margin-right: 10px;
  }
}