.write-to-us-form {
    margin-left: 5rem;
}

.help {
    margin-left: 1rem;

    margin-top: 0.25rem;
    font-size: small;
}

#help {
    width: 73vh;
    margin-left: 1rem;
}


@media (max-width: 600px) {
    .write-to-us-form {
        margin-left: 0;
    }
}