.write-to-us-input {
    margin: 1rem;
}

.write-to-us-input label {
    font-size: large;
}

@media (max-width: 600px) {
    .write-to-us-input {
        margin: 0.25rem;
    }

    .write-to-us-input label {
        font-size: small;
    }
}