.write-to-us {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #e4cdb4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.write-to-us-sticky {
    height: 70vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 30vw;
}

.heading {
    font-weight: 700;
    font-size: 4rem;
    margin: 1rem;
}

.description {
    font-size: 1.25rem;
}

.write-to-us-form {
    display: flex;
    flex-direction: column;
}

.write-to-us-form input {
    width: 40vw;
}

@media (max-width: 600px) {
    .write-to-us-sticky {
        height: 40vh;
    }
    .write-to-us {
        height: 50vh;
    }
    .heading {
        font-size: 2rem;
    }
    .description {
        padding-right: 3rem;
        font-size: 0.75rem;
    }
}