.feedback-component{
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.feedback-component-child {
    display: flex;
    width: 80vw;
}

.feedback-component-text {
    width: 40%;
    font-weight: 600;
    font-size: 4rem;
}

.feedbacks {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px) {

    .feedback-component-child {
        width: 90vw;
        flex-direction: column;
    }
    .feedback-component-text {
        width: 100%;
        font-size: 1.5rem;
    }
    .feedbacks {
        width: 100%;
    }
}