.feedback-card {
    margin: 2.5vh 1vw;
    width: 22vw;
    border-radius: 1rem;
    transition: all 0.7s;
}

.feedback-card:hover {
    transform: scale(1.1);
}

.feedback-text {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 5vh 1vw;
    opacity: 70%;
    color: white;
}

.name-icon {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.3rem;
    border: 1px solid white;
}

.feedback-card h3{
    margin: 1rem 0;
}

@media (max-width: 600px) {
    .feedback-card {
        margin: 1vh 1vw;
        width: 43vw;
    }

    .name-icon {
        height: 1.5rem;
        width: 1.5rem;
        font-size: medium;
    }

    .feedback-text {
        padding: 2vh 2vw;
    }

    .feedback-card h3{
        font-weight: 600;
        font-size: 1.25rem;
    }

    .review {
        font-size: 1rem;
    }
}

