* {
    font-family: 'Spectral', serif;

    padding: 0;
    margin: 0;
}

.app {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.login {    
    position: fixed;
    z-index: 15;
}

.owner-login-button {
    position: fixed;
    z-index: 12;
    right: 1rem;
    bottom: 0;
}

a{
    text-decoration: none;
}


